

#dash_pane {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));
}
.dash_hbox {
    -fx-background-color:  rgba(0,0,0,0);
    -fx-spacing: 10;
    -fx-padding: 0 0 0 0;
}



.dash_buttons {
    -fx-border-width: 0px;
    -fx-padding: 5 0 0 20;
    -fx-background-color: rgba(0,0,0,0);
}

.dash_buttons:hover {
    -fx-background-color:   linear-gradient(from 0% 0% to 100% 100%, rgba(153, 147, 147, 0.35), rgba(90,90,90,0.2));
}

.dash_buttons_selected {
    -fx-border-width: 0px;
    -fx-padding: 5 0 0 20;
    -fx-background-color:   linear-gradient(from 0% 0% to 100% 100%, rgba(118, 113, 113, 0.44), rgba(90,90,90,0.2));
}

.dash_buttons:pressed {
    -fx-background-color:   rgba(180,180,180,0.45);
}
.dash_labels {
    -fx-text-fill: #ffffff;
    -fx-font-family: 'Roboto Medium';
    -fx-font-size: 20;
    -fx-alignment: center;
}

#anchor_tabs_container {
    -fx-background-color: #333333 ;
}

TableView {
    -fx-font-size: 13;
    -fx-border-width: 2;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.5), rgba(105,188,197,0.5));
    -fx-border-radius: 2;
    -fx-background-radius: 10;
    -fx-font-family: Poppins;
}

TextField {
    -fx-font-size: 13;
    -fx-alignment: baseline-left ;
    -fx-font-family: Poppins;
    -fx-text-fill: rgba(86,86,86,1);
    -fx-prompt-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.medlabelpush {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 20;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(53, 114, 120, 0.74));

}
DatePicker {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-size: 13;
    -fx-alignment: baseline-left ;
    -fx-font-family: Poppins;
    -fx-text-fill: rgba(86,86,86,1);
    -fx-prompt-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));

}


ComboBox {
    -fx-font-size: 13;
    -fx-font-family: "Poppins";
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.3), rgba(53, 114, 120, 0.5));
    -fx-text-fill: white;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
}

BorderPane {
    -fx-background-color: rgba(250,250,250,1);
}


.circlelabel {
    -fx-border-width: 3;
    -fx-border-color:  linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));
    -fx-border-radius: 100;
    -fx-background-radius: 100;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));
    -fx-font-family: "Roboto Black";
    -fx-font-size: 40;
}

.sublabels {
    -fx-font-family: "Poppins SemiBold";
    -fx-font-size: 13;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(53, 114, 120, 0.74));
}

.headlabels {
    fx-font-size: 22;
    -fx-alignment: baseline-left ;
    -fx-font-family: Poppins;
    -fx-text-fill: rgba(86,86,86,1);
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: "Poppins SemiBold";

}

TextArea {
    -fx-font-family: "Poppins Light";
}

.PanelHead {

    -fx-alignment: baseline-left ;
    -fx-font-family: "Poppins Black";
    -fx-font-size: 38;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(53, 114, 120, 0.74));
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-font-family: "Poppins SemiBold";
}
#DateTimeLab{
    -fx-background-color: white;
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.5), rgba(105,188,197,0.5));
    -fx-border-width: 2;
    -fx-font-family: "Poppins SemiBold";
}


.Addnewpatientvbox {

    -fx-border-width: 2;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.5), rgba(105,188,197,0.5));
    -fx-border-radius: 15;
    -fx-background-radius: 15;
}

.appbutton {
    -fx-background-radius: 5;

    -fx-font-size: 14.0;
    -fx-font-family: Poppins;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.68), rgba(53, 114, 120, 0.70));
    -fx-border-width: 0px;
    -fx-border-color: rgba(86, 86, 86, 0.7);
    -fx-padding: 1px;
    -fx-graphic-text-gap: 0px;
    -fx-effect: dropshadow(gaussian, rgba(127,139,232,0.3) ,16,0.1,0,4);
}

.Labeladdpatientvbox {
    -fx-font-size: 13;
    -fx-alignment: baseline-left ;
    -fx-font-family: Poppins;
    -fx-text-fill: rgba(86,86,86,1);
    -fx-prompt-text-fill: linear-gradient(from 0% 0% to 100% 100%, rgba(66,102,157,0.92), rgba(105,188,197,0.74));
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.Elementpane {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: rgba(252,252,252,1);

}